/* line 11, scss/multibanner_type_flex.scss */
.view-multibanner-default.view-display-id-block_flex li {
  float: left;
}
/* line 14, scss/multibanner_type_flex.scss */
.view-multibanner-default.view-display-id-block_flex li .banner-content-inner {
  padding: 2em;
}
/* line 20, scss/multibanner_type_flex.scss */
.view-multibanner-default.view-display-id-block_flex .field--name-name {
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 27, scss/multibanner_type_flex.scss */
.view-multibanner-default.view-display-id-block_flex .multibanner-total-1 li {
  float: none;
  width: 100%;
}
/* line 37, scss/multibanner_type_flex.scss */
.view-multibanner-default.view-display-id-block_flex .multibanner-total-2 li,
.view-multibanner-default.view-display-id-block_flex .multibanner-total-4 li {
  width: 50%;
}
@media (max-width: 1000px) {
  /* line 37, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-2 li,
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-4 li {
    width: 50%;
  }
}
@media (max-width: 500px) {
  /* line 37, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-2 li,
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-4 li {
    width: 100%;
  }
}
/* line 56, scss/multibanner_type_flex.scss */
.view-multibanner-default.view-display-id-block_flex .multibanner-total-3 li,
.view-multibanner-default.view-display-id-block_flex .multibanner-total-6 li,
.view-multibanner-default.view-display-id-block_flex .multibanner-total-9 li {
  width: 33.33333%;
}
@media (max-width: 1000px) {
  /* line 56, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-3 li,
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-6 li,
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-9 li {
    width: 50%;
  }
}
@media (max-width: 500px) {
  /* line 56, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-3 li,
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-6 li,
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-9 li {
    width: 100%;
  }
}
/* line 74, scss/multibanner_type_flex.scss */
.view-multibanner-default.view-display-id-block_flex .multibanner-total-5 li,
.view-multibanner-default.view-display-id-block_flex .multibanner-total-8 li {
  width: 25%;
}
@media (max-width: 1000px) {
  /* line 74, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-5 li,
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-8 li {
    width: 50%;
  }
}
@media (max-width: 500px) {
  /* line 74, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-5 li,
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-8 li {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  /* line 93, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-3 li:first-child {
    width: 66.66667%;
  }
}
@media (max-width: 1000px) {
  /* line 93, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-3 li:first-child {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  /* line 112, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-5 li:first-child {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  /* line 112, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-5 li:first-child {
    width: 100%;
  }
}
/* line 129, scss/multibanner_type_flex.scss */
.view-multibanner-default.view-display-id-block_flex .multibanner-total-7 li {
  width: 20%;
}
@media (max-width: 1000px) {
  /* line 129, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-7 li {
    width: 50%;
  }
}
@media (max-width: 500px) {
  /* line 129, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-7 li {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  /* line 141, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-7 li:first-child {
    width: 40%;
  }
}
@media (max-width: 1000px) {
  /* line 141, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-7 li:first-child {
    width: 100%;
  }
}
@media (min-width: 500px) {
  /* line 164, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-3 li:first-child .banner-content .banner-content-inner .field--name-name,
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-5 li:first-child .banner-content .banner-content-inner .field--name-name,
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-7 li:first-child .banner-content .banner-content-inner .field--name-name {
    font-size: 2.75em;
  }
}
@media (max-width: 1000px) {
  /* line 176, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-9 li:first-child {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  /* line 183, scss/multibanner_type_flex.scss */
  .view-multibanner-default.view-display-id-block_flex .multibanner-total-9 li:first-child .banner-content .banner-content-inner .field--name-name {
    font-size: 2em;
  }
}
