// Multibanner flex banners

@import "breakpoint";
@import "compass/typography/text/ellipsis";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "variables";

.view-multibanner-default.view-display-id-block_flex {

  li {
    float: left;

    .banner-content-inner {
      padding: 2em;
    }

  }

  .field--name-name {
    font-size: 2em;
    @include ellipsis();
  }

  .multibanner-total-1 {

    li {
      float: none;
      width: 100%;
    }

  }

  .multibanner-total-2,
  .multibanner-total-4 {

    li {
      width: percentage(1/2);

      @include breakpoint(max-width 1000px) {
        width: percentage(1/2);
      }

      @include breakpoint(max-width 500px) {
        width: 100%;
      }

    }

  }

  .multibanner-total-3,
  .multibanner-total-6,
  .multibanner-total-9 {

    li {
      width: percentage(1/3);

      @include breakpoint(max-width 1000px) {
        width: percentage(1/2);
      }

      @include breakpoint(max-width 500px) {
        width: 100%;
      }

    }

  }

  .multibanner-total-5,
  .multibanner-total-8 {

    li {
      width: percentage(1/4);

      @include breakpoint(max-width 1000px) {
        width: percentage(1/2);
      }

      @include breakpoint(max-width 500px) {
        width: 100%;
      }

    }

  }

  .multibanner-total-3 {

    li {

      &:first-child {

        @include breakpoint(min-width 1000px) {
          width: percentage(2/3);
        }

        @include breakpoint(max-width 1000px) {
          width: 100%;
        }
      }

    }

  }

  .multibanner-total-5 {

    li {

      &:first-child {

        @include breakpoint(min-width 1000px) {
          width: percentage(1/2);
        }

        @include breakpoint(max-width 1000px) {
          width: 100%;
        }
      }

    }

  }

  .multibanner-total-7 {

    li {

      width: percentage(1/5);

      @include breakpoint(max-width 1000px) {
        width: percentage(1/2) !important;
      }

      @include breakpoint(max-width 500px) {
        width: 100% !important;
      }

      &:first-child {
        @include breakpoint(min-width 1000px) {
          width: percentage(1/2.5);
        }

        @include breakpoint(max-width 1000px) {
          width: 100% !important;
        }

      }

    }

  }


  .multibanner-total-3,
  .multibanner-total-5,
  .multibanner-total-7 {

    li:first-child {

      @include breakpoint(min-width 500px) {
        .banner-content .banner-content-inner .field--name-name {
          font-size: 2.75em;
        }

      }

    }

  }

  .multibanner-total-9 {

    li:first-child {

      @include breakpoint(max-width 1000px) {
        width: 100%;
      }

      @include breakpoint(500px and 1000px) {
        .banner-content .banner-content-inner .field--name-name {
          font-size: 2em;
        }
      }

    }

  }

}
