// Multibanner front banners

@import "breakpoint";
@import "compass/typography/text/ellipsis";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "variables";

.view-multibanner-default.view-display-id-block_front {

  .multibanner-item {
    padding: 5px;
    position: relative;

    .banner-content-inner {
      margin: 5px;
      padding: 2em;
    }
  }

  .field--name-name {
    font-size: 1.5em;
  }

}

@include breakpoint(min-width 1000px) {

  .view-multibanner-default.view-display-id-block_front {
    margin: -5px;
    background: none;

    .multibanner-item {
      box-sizing: border-box;
      float: left;
      padding: 5px;
      width: percentage(1/2);
    }

    .multibanner-count-1 {
      width: percentage(2/3) !important;
      float: right;
    }

    .multibanner-total-1 {
      .multibanner-count-1 {
        width: 100% !important;
        float: none;
      }
    }

    .multibanner-total-2 {
      .multibanner-count-1,
      .multibanner-count-2 {
        width: 50% !important;
        float: left;
      }
    }

    .multibanner-total-1,
    .multibanner-total-2,
    .multibanner-total-3,
    .multibanner-total-4,
    .multibanner-total-5,
    .multibanner-total-6 {
      .multibanner-column-1 {
        .multibanner-item {
          width: percentage(1/3);
        }
      }
    }

    .multibanner-total-4 {

      .multibanner-column-1 {
        float: left;
        width: percentage(3/5);

        .multibanner-item {
          width: percentage(1/3);
        }
      }

      .multibanner-column-2 {
        float: right;
        width: percentage(2/5);
      }

      .multibanner-count-4 {
        width: 100% !important;
      }

    }

    .multibanner-total-5 {

      .multibanner-column-1 {
        float: left;
        width: percentage(3/4);

        .multibanner-item {
          width: percentage(1/3);
        }
      }

      .multibanner-column-2 {
        float: right;
        width: percentage(1/4);

        .multibanner-item {
          width: 100% !important;
        }
      }

      .multibanner-count-4 {
        width: percentage(2/3) !important;
      }

    }

    .multibanner-total-6 {

      .multibanner-column-1 {
        float: left;
        width: percentage(1/2);

        .multibanner-item {
          width: percentage(1/3);
        }
      }

      .multibanner-column-2 {
        float: right;
        width: percentage(1/2);

        .multibanner-item {
          width: percentage(1/3);
        }
      }

      .multibanner-count-4 {
        width: percentage(2/3) !important;
      }

    }

  }

}

@include breakpoint(min-width 500px) {
  .multibanner-count-1 .banner-content .banner-content-inner .field--name-name {
    font-size: 2.75em;
  }
}
